*.o
.deps/*
Makefile
autom4te.cache/*
config.log
config.status
ischroot
ischroot.o
po4a/Makefile
po4a/de/Makefile
po4a/es/Makefile
po4a/fr/Makefile
po4a/it/Makefile
po4a/ja/Makefile
po4a/pl/Makefile
po4a/sl/Makefile
run-parts
run-parts.o
tempfile
tempfile.o
